html {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

input[type='text'],
input[type='password'] {
  display: block;
  width: 100%;
  height: calc(1.9em + 0.75rem + 2px);
  padding: 0.375rem 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #e3e3e3;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

form {
  margin-top: 4rem;
}

label {
  font-size: 14px;
  font-weight: normal;
  color: #5f99ed;
}

button {
  display: inline-block;
  border: 1px solid transparent;
  background-color: #5f99ed;
  vertical-align: middle;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #ffffff;
}

button.large {
  width: 100%;
  height: 60px;
  border-radius: 15px;
  font-size: 24px;
  font-weight: normal;
}

button.small {
  height: 40px;
  border-radius: 34px;
  font-size: 18px;
  font-weight: 300;
}

button.login,
button.register {
  width: 143px;
}

button.reset {
  width: 202px;
}

h2.title {
  font-size: 36px;
  font-weight: 600;
  color: #5f99ed;
}

a {
  cursor: pointer;
}

a.bold {
  font-weight: bold;
}

p {
  font-weight: 300;
  color: #5f99ed;
}

p.small {
  font-size: 14px;
}

p.large {
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

img.logo {
  max-width: 301px;
  max-height: 63px;
}

img.small {
  max-width: 169px !important;
  max-height: 35px !important;
}

img.burger {
  max-width: 22px;
  max-height: 14px;
}

img.mail {
  max-width: 24px;
  max-height: 19px;
}

img.line {
  max-width: 3px;
  max-height: 45px;
}

img.oval {
  max-width: 45px;
  max-height: 45px;
}

img.arrow {
  max-width: 8px;
  max-height: 13px;
}

span.user {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.alert {
  position: absolute !important;
  left: 0;
  right: 0;
  margin-bottom: 0 !important;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  top: 38%;
  width: 30%;
  text-align: center;
  padding: 0.5rem !important;
}

.form-container {
  border-radius: 15px;
  background-color: #ffffff;
}

.link {
  font-size: 14px;
  font-weight: bold;
  color: #5f99ed;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #8c8c8c;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #8c8c8c;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #8c8c8c;
}

.warning {
  font-size: 10px;
  position: absolute;
}

.copyright {
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
}

.copyright .light {
  font-weight: 200;
}

.lg-background {
  background-image: url('../img/le-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.sm-background {
  background-image: url('../img/le-bg-sm.jpg');
  background-repeat: no-repeat;
  background-size: contain;

  /* temp height */
  height: 100vh;
}

.navbar-vertical {
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
}
.navbar-vertical {
  left: 25px !important;
  top: 15px !important;
}

.container,
.container-fluid {
  padding: 0 !important;
}

@media screen and (max-width: 600px) and(orientation:portrait) {
  .container,
  .container-fluid {
    /*height: 100vh;*/
  }

  img.small {
    display: none !important;
  }
}

/* iPad Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .container,
  .container-fluid {
    /*height: 100vh;*/
  }
}

/* iPhone X Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .container,
  .container-fluid {
    /*height: 100vh;*/
  }
}
