a {
  cursor: pointer;
}

/*
div {
  border: 0.5px solid black;
}
*/

.container,
.container-fluids {
  height: 100vh;
  background-image: linear-gradient(to bottom right, #5f99ed, #9c7dc4);
}

.login-row-wrapper {
  height: 100vh;
}

.form-row-wrapper {
  height: 372px;
  border-radius: 15px;
  background-color: #ffffff;
}

.login-title {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5f99ed;
}

.login-form {
  margin-top: 4rem;
}

.login-text {
  display: block;
  width: 100%;
  height: calc(1.9em + 0.75rem + 2px);
  padding: 0.375rem 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #e3e3e3;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8c8c8c;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8c8c8c;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8c8c8c;
}

.help-block {
  font-size: 10px;
  position: absolute;
}

.remember-me {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5f99ed;
}

.forgot-password {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5f99ed;
}

.login-button {
  display: inline-block;
  width: 143px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 34px;
  background-color: #5f99ed;
  vertical-align: middle;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  /* button caption */
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.register-button {
  display: inline-block;
  width: 100%;
  height: 60px;
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: #5f99ed;
  vertical-align: middle;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  /* button caption */
  font-family: 'Nunito Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.copyright {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.copyright .light {
  font-weight: 200;
}
